{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %} Profile | wfw {% endblock title %}
<!-- End of title -->

<!-- Body -->
{% block body_block %}

<div class="container my-4">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-body text-center">
                    {% if user.profile.profile_picture.url %}
                    <img class="rounded-circle" style="width:85px; height:85px; margin-top: -42px;"
                        src="{{ user.profile.profile_picture.url }}" alt="avatar">
                    {% else %}
                    <img class="rounded-circle" style="width:85px; height:85px; margin-top: -42px;"
                        src="{% static 'imgs/default.png' %}" alt="avatar">
                    {% endif %}
                    <div style="color: #464362;" class="mt-2">
                        <h3> {{ user.username }} </h3>
                        <p class="text-muted"> {{ user.email }} </p>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'users:updateprofile' %}">
                    <button class="btn btn-secondary btn-block">Update Profile</button>
                </a>
                <a href="{% url 'password_reset' %}">
                    <button class="btn btn-outline-primary float-right btn-block my-2">Reset Password</button>
                </a>
            </div>
            <div class="card my-2">
                <div class="card-header">
                    Contributions
                </div>
                <div class="card-body">
                    {% if contributed %}
                    {% for contribution in contributed %}
                    <p> <a href="{{ contribution.url }}" target="_blank"> {{ contribution }} </a></p>
                    {% endfor %}
                    {% else %}
                    <p>Such empty!</p>
                    <p>To contribute by adding a new website, click <a
                            href="{% url 'catalog:addwebsite' %}" class="text-primary">here</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Favourites
                </div>
                <div class="card-body">
                    {% if favourites %}
                    <!-- Groups websites by tag -->
                    {% regroup favourites|dictsort:"tag.tag" by tag as tag_list %}
                    
                    <!-- Cards -->
                    <div class="row">
                        <!-- Card -->
                        {% for tag in tag_list %}
                        <div class="col-sm-6">
                            <div class="card my-2">
                                <!-- Card header -->
                                <div class="card-header"
                                    style="font-family: 'Oswald', sans-serif; background-color: #fefefe; color:
                                    #38364D;">
                                    {{ tag.grouper }}
                                </div>
                                <!-- End of card header -->
                                <!-- Card body -->
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        {% for item in tag.list|dictsort:"name" %}
                                        <li class="list-group-item py-3">
                                            <a href="{{ item.url }}" target="_blank"> {{ item.name }} </a>
                                            <a href="{% url 'users:tweakfavourites' operation='remove' where='profile' pk=item.id %}">
                                                <i class="fas fa-minus fa-xs float-right py-1"></i>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- End of card body -->
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End of card -->
                    </div>
                    <!-- End of cards -->
                    {% else %}
                        <p>Looks like you don't have any favourites yet.</p>
                        <p>To add favourites, go to <a href="{% url 'catalog:index' %}" class="text-primary">home</a> and click on <strong>+</strong> button next to your favourite website.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body_block%}
<!-- End of body -->