{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %} Profile | wfw {% endblock title %}
<!-- End of title -->

<!-- Body -->
{% block body_block %}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-body">
                    <img class="rounded-circle" style="width:85px; height:85px;"
                        src="{{ user.profile.profile_picture.url }}" alt="avatar">
                    <div class="float-right">
                        <p> {{ user.username }} </p>
                        <p class="text-muted"> {{ user.email }} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Favourites
                </div>
                <div class="card-body">
                    {% if favourites %}
                        {% for favourite in favourites %}
                        <p> <a href="{{ favourite.url }}"> {{ favourite }} </a></p>
                        {% endfor %}
                    {% else %}
                        <p> No favourites found. Please add some. </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body_block%}
<!-- End of body -->