{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %} wfw | A website for websites {% endblock title %}
<!-- End of title -->

<!-- Top block -->
{% block top_block %}

<div class="alert alert-info text-center" role="alert"
    style="font-family: 'Open Sans', sans-serif; border-radius: 0;">
    Checkout <a href="{% url 'catalog:howitworks' %}" class="text-primary">How it works?</a> to know more.
</div>

{% endblock top_block%}
<!-- End of top block -->

<!-- Body -->
{% block body_block %}

    <!-- Banner -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="my-lg-5 my-md-0">
                        <h1 class="text-break" id="brandtext">
                            A Website for <span id="brandtextspan">Websites</span>
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="\static\imgs\main.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- End of banner -->
    
    
    <div class="container mt-2 mb-4">
        <div class="row">
            <!-- Add button -->
            <div class="col-lg-6">
                <a href="{% url 'catalog:addwebsite' %}">
                    <button type="button" class="btn btn-outline-primary my-3 my-lg-0"> Add </button>
                </a>
            </div>
            <!-- End of add button -->
            <!-- Select -->
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-10 col-lg-9">
                            {{ tag_form|crispy }}
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <input class="btn btn-outline-primary ml-lg-4 ml-xl-0" type="submit" value="Filter">
                        </div>
                    </div>
                </form>
            </div>
            <!-- End of select -->
        </div>
    </div>
    
    <!-- Groups websites by tag -->
    {% regroup websites|dictsort:"tag.tag" by tag as tag_list %}

    <!-- Cards -->
    <div class="container">
        <!-- Alert -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <!-- End of Alert -->
        <div class="row">
            <!-- Card -->
            {% for tag in tag_list %}
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="card my-2">
                    <!-- Card header -->
                    <div class="card-header">
                        {{ tag.grouper }}
                    </div>
                    <!-- End of card header -->
                    <!-- Card body -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for item in tag.list|dictsort:"name" %}
                            <li class="list-group-item py-2"> 
                                <a href="{{ item.url }}"> {{ item.name }} </a>
                                    {% if user.is_authenticated %}
                                    {% if not item in favourites %}
                                    <a href="{% url 'users:tweakfavourites' operation='add' pk=item.id %}">
                                        <i class="fas fa-plus fa-xs float-right my-3"></i>
                                    </a> 
                                    {% else %}
                                    <a href="{% url 'users:tweakfavourites' operation='remove' pk=item.id %}">
                                        <i class="fas fa-minus fa-xs float-right my-3"></i>
                                    </a>
                                    {% endif %} 
                                    {% endif %}
                                <br>
                                <p class="text-muted w-75" style="font-size: 0.9rem;"> ({{ item.user }}) </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End of card body -->
                </div>
            </div>
            {% endfor %}
            <!-- End of card -->
        </div>
    </div>
    <!-- End of cards -->

 
{% endblock body_block %}
<!-- End of body -->