{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %} wfw | A website for websites {% endblock title %}
<!-- End of title -->

<!-- Body -->
{% block body_block %}

    <!-- Banner -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-break text-center">
                A Website for <span class="display-3">Websites.</span>
            </h1>
        </div>
    </div>
    <!-- End of banner -->
    
    
    <div class="container mt-2 mb-4">
        <div class="row">
            <!-- Add button -->
            <div class="col-lg-6">
                <a href="#">
                    <button type="button" class="btn btn-outline-primary my-3 my-lg-0"> Add </button>
                </a>
            </div>
            <!-- End of add button -->
            <!-- Select -->
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-10 col-lg-9">
                            {{ tag_form|crispy }}
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <input class="btn btn-outline-primary ml-lg-4 ml-xl-0" type="submit" value="Filter">
                        </div>
                    </div>
                </form>
            </div>
            <!-- End of select -->
        </div>
    </div>
    
    <!-- Groups websites by tag -->
    {% regroup websites|dictsort:"tag.tag" by tag as tag_list %}

    <!-- Cards -->
    <div class="container">
        <div class="row">
            <!-- Card -->
            {% for tag in tag_list %}
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                <div class="card my-2">
                    <!-- Card header -->
                    <div class="card-header">
                        {{ tag.grouper }}
                    </div>
                    <!-- End of card header -->
                    <!-- Card body -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for item in tag.list|dictsort:"name" %}
                            <li class="list-group-item"> 
                                <a href="{{ item.url }}"> {{ item.name }} </a>
                                <span class="text-muted"> ({{ item.user }}) </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End of card body -->
                </div>
            </div>
            {% endfor %}
            <!-- End of card -->
        </div>
    </div>
    <!-- End of cards -->

 
{% endblock body_block %}
<!-- End of body -->