{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Title -->
{% block title %} Add a website | wfw {% endblock title %}
<!-- End of title -->

<!-- Body -->
{% block body_block %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <p class="display-4">add a new website</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

{% endblock body_block%}
<!-- End of body -->